@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyriadArabic300";
  src: url("../fonts/MyriadArabic-It.otf") format("otf"),
  url("../fonts/MyriadArabic-It.ttf") format("truetype"),
  url("../fonts/MyriadArabic-It.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Saint400";
  src: url("../fonts/Saint-AndrewsQueen.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MyriadArabic400";
  src: url("../fonts/MyriadArabic-Regular.otf") format("otf"),
  url("../fonts/MyriadArabic-Regular.ttf") format("truetype"),
  url("../fonts/MyriadArabic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "MyriadArabic800";
    src: url("../fonts/MyriadArabic-Bold.otf") format("otf"),
    url("../fonts/MyriadArabic-Bold.ttf") format("truetype"),
  url("../fonts/MyriadArabic-Bold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: "Montserrat300";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat400";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "Montserrat500";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat600";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "Montserrat700";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat800";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat900";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  
@font-face {
    font-family: "OpenSans300";
    src: url("../fonts/OpenSans_Condensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "OpenSans400";
    src: url("../fonts/OpenSans_Condensed-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
      font-family: "OpenSans500";
      src: url("../fonts/OpenSans_SemiCondensed-Regular.ttf") format("truetype");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
      font-family: "OpenSans600";
      src: url("../fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
      font-display: swap;
    }
  @font-face {
      font-family: "OpenSans700";
      src: url("../fonts/OpenSans_SemiCondensed-Bold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
      font-family: "OpenSans800";
      src: url("../fonts/OpenSans_SemiCondensed-ExtraBold.ttf") format("truetype");
      font-weight: 800;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "OpenSans900";
      src: url("../fonts/OpenSans_SemiCondensed-Bold.ttf") format("truetype");
      font-weight: 900;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "KozGoPr6N400";
      src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
      /* src: url("../fonts/KozGoPr6NRegular.ttf") format("truetype"), */
      /* url("../fonts/KozGoPr6NRegular.otf") format("otf"); */
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    
@font-face {
  font-family: "Inter300";
  src: url("../fonts/Inter_24pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter400";
  src: url("../fonts/Inter_24pt-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "Inter500";
    src: url("../fonts/Inter_24pt-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter600";
    src: url("../fonts/Inter_24pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "Inter700";
    src: url("../fonts/Inter_28pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter800";
    src: url("../fonts/Inter_28pt-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter900";
    src: url("../fonts/Inter_28pt-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
body {
    transition: 0.3s ease-out;
    overflow-x: hidden;
    direction: ltr;
    margin: 0;
    padding: 0;
  }
 
 
  
  * {
    box-sizing: border-box;
    direction: ltr;
  }
  
  
  a{
    text-decoration: none;
  }
  ul,li,p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
  }


ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
header.Open .toggleItems{
transform: translateX(10px);
}
header.Open .toggleItem:nth-child(1){
  transform: rotate(42deg);
  transform-origin: 0px -7px;
}

header.Open .toggleItem:nth-child(3){
  transform: rotate(-42deg);
  transform-origin: 3px 10px;
}
img,
.IMG,
.IMG-proj{
  transition: all 1.5s ease;
}
.Projects .IMG,
.Projects,
.Projects img{
  transition: all 1.5s ease;
}
.Projects .IMG.appear,
.textBox.appear{
opacity: 1;
transform: translate(0);
}
.Home .Section-1 .Text p{
  font-size: 13px;
  font-weight: 300;
  line-height: 16.25px;
  font-family: "OpenSans500";
  text-align: justify;
}
.Items .Item .Text p{
  text-align: justify;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
footer{
  padding-right: 5em;
}
@media only screen and (max-width: 1200px) {
  footer{
    width: fit-content;
    padding-left: 8em;
    padding-right: 11em;
  }
}
@media only screen and (min-width: 1201px) {
  footer{
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
  }
}
.footerDesk .Details{
  box-shadow: 0px 3px 6.9px 0px #00000040;

}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  max-height: 54px; /* بسته به سایز فونت تنظیم شود */
}

.hidden-span {
  visibility: hidden;
  display: inline-block;
  width: 30px; /* این مقدار را بسته به نیاز تغییر دهید */
}

.toggleButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  padding-left: 5px;
}
.IMG-first{
  transition: all 1.8s cubic-bezier(.19,1,.22,1);
  transition-delay: 0 !important;
}
.ErrorContainer{
  background-repeat: no-repeat;
  background-size: cover;
}
::-webkit-scrollbar-track ,
#scrollContainer::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar ,
#scrollContainer::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

::-webkit-scrollbar-thumb,
#scrollContainer::-webkit-scrollbar-thumb{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0a0a0a;
}

.searchContainer::-webkit-scrollbar-track ,
#scrollContainer::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color:white;
}

.searchContainer::-webkit-scrollbar ,
#scrollContainer::-webkit-scrollbar {
  width: 5px;
  background-color:white;
}

.searchContainer::-webkit-scrollbar-thumb,
#scrollContainer::-webkit-scrollbar-thumb{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0a0a0a;
}
.simple-spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.simple-spinner span {
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: rgba(255, 255, 255, 0.7);
  animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.Noresult {
  margin-top: 3em;
}
.searchContainer .Results {
  margin-top: 5em;
}